---
import HeaderLink from './HeaderLink.astro';
import IconButton from './IconButton.astro';
import Logo from './Logo.astro';
import WindowsButton from './WindowsButton.astro';
import WindowsTopBar from './WindowsTopBar.astro';
import { SITE_TITLE } from '../consts';
import TechBlogIcon from './TechBlogIcon.astro';
import NrlSupercoachAiBlogIcon from './NrlSupercoachAiBlogIcon.astro';
import NrlSupercoachAiSimIcon from './NrlSupercoachAiSimIcon.astro';
---

<header>
	<WindowsTopBar />
	<nav>
		
	<a href="/"><WindowsButton><Logo height="40"/></WindowsButton></a>
		<div class="internal-links">
			<HeaderLink href="/blog">
				<IconButton>
					<TechBlogIcon height={50} slot="icon"/>
					Tech Blog
				</IconButton>
			</HeaderLink>
			<HeaderLink href="/supercoach-blog">
				<IconButton>
					<NrlSupercoachAiBlogIcon height={50}/>
					Supercoach AI Blog
				</IconButton>
			</HeaderLink>
			<HeaderLink href="/about">
				<IconButton>
				<NrlSupercoachAiSimIcon height={50} />
				Supercoach AI Sim
			</IconButton>
		</HeaderLink>
		</div>
		
	</nav>
</header>
<style>
	header {
		margin: 0;
		
		background: #c6c6c6;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 10px 5px 10px;
		border-bottom: 3px solid #848484;
		
	}
	
	
</style>
