---



---

<div>
    <slot name="icon"/>
	<slot />
</div>
<style>
    div{
        flex-direction: column;
        display: flex;
        padding: 3px 12px;
        text-align: center;
        align-items: center;
    }
	
</style>
