---
import Homer from './homer.astro'

---

<div>
    <h1>INTERNET KING !</h1>
    <Homer height={90}/>
</div>

<style>

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    h1 {
        background-color: black;
        color: white;
    }

</style>
